/* Add font imports */

@font-face {
  font-family: 'Objectivity';
  src:
    url('./fonts/Objectivity-Bold.woff') format('woff');
  font-weight: 700;
}


@font-face {
  font-family: 'Objectivity';
  src:
    url('./fonts/Objectivity-Medium.woff') format('woff');
  font-weight: 500;
  /* letter-spacing: -1px !important; */
  font-style: normal;
}



/* Repeat @font-face for each font file */
/* Example for another font */
@font-face {
  font-family: 'Objectivity';
  /* Replace with actual font name */
  src:
    url('./fonts/Objectivity-Regular.woff') format('woff');
  font-weight: normal;
  /* Adjust as needed */
  font-style: normal;
  
  /* Adjust as needed */
}

body {
  font-family: 'Objectivity', sans-serif; /* Fallback to sans-serif */
  /* letter-spacing: -1px; */
}
