@import url('https://fonts.googleapis.com/css2?family=Objectivity:wght@400;500;600;700&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;



.hoverAni:hover div {
  height: 2px;
  width: 20px;
  background-color: #F6B000;
  position: absolute;
  left: 58%;
}
.hoverAni3:hover div {
  height: 2px;
  width: 20px;
  background-color: #F6B000;
  position: absolute;
  left: 53%;
}
.hoverAni5:hover div {
  height: 2px;
  width: 20px;
  background-color: #F6B000;
  position: absolute;
  left: 67.5%;
}
.hoverAni2:hover div {
  height: 2px;
  width: 20px;
  background-color: #F6B000;
  position: absolute;
  left: 79%;
}
.hoverAni6:hover div {
  height: 2px;
  width: 20px;
  background-color: #F6B000;
  position: absolute;
  left: 64%;
}

.button21:hover img {
  width: 35px;
  height: 24px;
}
.button21:hover span {
  margin-left: 1rem;
}

.button21 {
  transition: 0.5s all;
}
.button21 img {
  transition: 0.5s all;
}


.howGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}

.font-700 {
  font-weight: 700 !important;
}

.detail div:hover {
  color: white;
}

.detail div {
  transition: 0.3s all ;
  cursor: pointer;
}

body {
  /* max-width: !important 100vw; */
  /* overflow: !important hidden; */
}





.hoverAni:hover img {
  margin-left: 23px;

}
.hoverAni5:hover img {
  margin-left: 35px;

}
.hoverAni6:hover img {
  margin-left: 35px;

}
.hoverAni3:hover img {
  margin-left: 23px;

}
.hoverAni2:hover img {
  margin-left: 32px;

}



.catCard:hover .imageInCatCard  {
  opacity: 1;
}
.catCard:hover .textSection  {
  margin-left: -40px;
}

.catContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}




.hoverAni img {
  transition: 0.5s all;
}
.hoverAni6 img {
  transition: 0.5s all;
}
.hoverAni5 img {
  transition: margin-left 0.5s;
}
.hoverAni2 img {
  transition: 0.5s all;
}
.hoverAni3 img {
  transition: 0.5s all;
}

.mainCard:hover .mainButton {
  background-color: #F6B000;

}

.submitButton img {
  display: block;
}

input, svg, rect, path {
  transition: all 0.3s ease;
}


select {
  border-radius: 10px !important;
  
}

select option:hover,
select option:focus,
select option:active {
    background-color: #F6B000 !important;
    color: white !important;
}

select option:checked {
    background-color: #F6B000 !important;
    color: white !important;
}

select {
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

select option:hover, select option:focus {
  background-color: #F6B000 !important;
  outline: none;
}

/* .scrollbarCustom::-webkit-scrollbar{
  width: 10px;
} */

.featureLeftIcon:hover .featureLeftIconInner {
  margin-left: -40px;
  
}
.featureLeftIcon:hover .featureRightInner {
  margin-left: 40px;
}
.featureLeftIcon:hover .featureLeftLine {
  height: 2px;
  background-color: white;
  width: 40px;
  position: absolute;
}


.featureLeftIcon .featureLeftLine {
  transition: width 200ms ease, background-color 300ms ease; 
  height: 2px;
  width: 0px;
}

.featureLeftIcon:hover { 
  width: 70px;
  background-color: #000;
  transition: 0.3ms all;
}

/* body {
    font-family: 'Objectivity', sans-serif; 
    letter-spacing: -3%; }
 */



.hoverBox:hover {
  background-color: #F8F8F8;
}

.hoverBox:hover .text-change {
  color: #F6B000;
}
.hoverBox:hover .text-img1 {
  display: none;
}
.hoverBox:hover .text-img2 {
  display: block !important;
}

.form-steps {
  display: flex;
  align-items: center;
  gap: 10px;
  color:#B9B9B9;
  font-family: Objectivity;
font-size: 14px;
font-weight: 500;
line-height: 14.35px;
letter-spacing: -0.03em;

}

.form-steps span {
  padding: 10px 15px;
  border-radius: 5px;
  /* font-weight: bold; */
}

.form-steps .active {

  color: #0E0E0E;
  font-weight: 500;
}

.form-steps .completed {
  color: #0E0E0E;
  font-weight: 500;
  
}

.form-navigation button {
  margin: 10px;
  width: 100%;
  background-color: #000; /* Button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-navigation button:hover {
  background-color: #000; /* Darker button color on hover */
}
